<div class="flex-horizontal">
  <div class="col-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let trend of trends; trackBy: trackByTrend">
    <app-card
      [title]="trend.title || trend.original_title || trend.name || trend.original_name"
      [subtitle]="(trend.release_date || trend.first_air_date | date) || trend.known_for_department"
      [poster]="trend.poster_path ? (trend.poster_path | tmdbImage: 'w500') : (trend.profile_path | tmdbImage: 'h632')"
      [routerLink]="['/', trend.media_type | mediaTypeToRouteName, trend.id]"
    ></app-card>
  </div>
</div>
