<ng-container *ngIf="personDetail">
  <app-hero
    [poster]="personDetail.profile_path | tmdbImage: 'h632'"
    [posterHref]="personDetail.profile_path | tmdbImage: 'original'"
    [title]="personDetail.name"
    [description]="personDetail.biography"
    descriptionLabel="Biography"
  >
  </app-hero>
  <div class="container mb-5">
    <tabset [justified]="true">
      <tab id="overview" heading="Overview"> </tab>
      <ng-container *ngIf="personDetail.images.profiles && personDetail.images.profiles.length > 0">
        <tab id="posters" heading="Posters">
          <section class="mt-5 mb-5">
            <app-image-list [images]="personDetail.images.profiles"></app-image-list>
          </section>
        </tab>
      </ng-container>
    </tabset>
  </div>
</ng-container>
