<ng-container>
  <header>
    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" routerLink="/">
          <!--suppress CheckImageSize -->
          <img
            src="../../../../../assets/logos/logo.png"
            width="30"
            height="30"
            class="d-inline-block align-top"
            alt="Screen Explorer"
            loading="auto"
          />
          <span class="ml-3">Screen Explorer</span>
        </a>
        <button
          class="navbar-toggler focus-outline-none"
          type="button"
          aria-label="Navbar Toggler"
          [class.collapsed]="!isShow"
          (click)="toggleShow()"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" [class.show]="isShow">
          <ul class="navbar-nav mr-auto">
            <li dropdown class="nav-item dropdown">
              <a dropdownToggle class="nav-link dropdown-toggle cursor-pointer">Movies</a>
              <div *dropdownMenu class="dropdown-menu">
                <a *ngFor="let movieNavLink of MOVIE_NAV_LINKS" class="dropdown-item" [routerLink]="movieNavLink.route">{{
                  movieNavLink.name
                }}</a>
              </div>
            </li>
            <li dropdown class="nav-item dropdown">
              <a dropdownToggle class="nav-link dropdown-toggle cursor-pointer">TV Shows</a>
              <div *dropdownMenu class="dropdown-menu">
                <a *ngFor="let tvShowNavLink of TV_SHOW_NAV_LINKS" class="dropdown-item" [routerLink]="tvShowNavLink.route">{{
                  tvShowNavLink.name
                }}</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="PERSON_NAV_LINK.route">{{ PERSON_NAV_LINK.name }}</a>
            </li>
          </ul>
          <div class="cursor-pointer" (click)="searchMultiFormComponent.toggleSearchContainerOpen()">
            <button class="btn btn-dark" aria-label="Search">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <app-search-multi-form #searchMultiFormComponent></app-search-multi-form>
</ng-container>
