@import './../../../../scss/abstracts';

:host ::ng-deep {
  .video-list {
    .card-img {
      display: inline-block;
      margin: 0 auto;
      position: relative;
      text-align: center;
    }

    .card-img:before {
      align-items: center;
      background: $color-black-transparent;
      border-radius: 50%;
      color: $color-white;
      content: '\f04b';
      cursor: pointer;
      display: flex;
      font-family: $font-family-icon;
      font-size: 1.5rem;
      font-weight: 900;
      height: 5rem;
      justify-content: center;
      width: 5rem;
      z-index: 1;

      @include absolute-center();
    }
  }
}
