<ng-container>
  <app-section-title>{{ title }}</app-section-title>
  <div class="row">
    <div
      class="col-12 col-md-6 mb-3 cursor-pointer focus-outline-none"
      (click)="itemClick.emit(['/', getRoute(searchSingle.media_type), searchSingle.id])"
      *ngFor="let searchSingle of searchMulti; trackBy: trackBySearchMulti"
    >
      <app-horizontal-card
        [title]="searchSingle.title || searchSingle.original_title || searchSingle.name || searchSingle.original_name"
        [poster]="
          searchSingle.poster_path ? (searchSingle.poster_path | tmdbImage: 'w500') : (searchSingle.profile_path | tmdbImage: 'w185')
        "
        [subtitle]="searchSingle.release_date || searchSingle.first_air_date | date: 'yyyy' | parenthesis"
      ></app-horizontal-card>
    </div>
  </div>
</ng-container>
