@import './../../../../scss/abstracts';

.page-not-found {
  position: relative;

  img {
    width: 100%;
    height: 85vh;
    object-fit: cover;
  }

  .page-not-found-content {
    background-color: $color-black-transparent;

    @include absolute-center();
  }
}
