<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar class="toolbar mat-elevation-z6" color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="ml-3">Cinema</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav fixedTopGap="56" [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches">
      <div class="sidenav-menu">
        <div class="pt-2">
          <mat-menu></mat-menu>
          <button mat-menu-item routerLink="/">
            <mat-icon>home</mat-icon>
            <span>Home</span>
          </button>
          <button mat-menu-item routerLink="/movies">
            <mat-icon>local_movies</mat-icon>
            <span>Movies</span>
          </button>
          <button mat-menu-item routerLink="/tv">
            <mat-icon>tv</mat-icon>
            <span>TV Shows</span>
          </button>
          <button mat-menu-item routerLink="/people">
            <mat-icon>people</mat-icon>
            <span>People</span>
          </button>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
