@import './../../../../scss/abstracts';

:host ::ng-deep {
  .timeline-container {
    app-timeline-item {
      &:first-of-type {
        border: 0;
      }

      display: block;
      padding: $space-1 0;
      border: 0;
      border-top: 0.05rem solid rgba(0, 0, 0, 0.1);
    }
  }
}
