<div class="hero" [style.background-image]="'url(' + (backdrop || posterHref) + ')'">
  <div class="hero-filter">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="hero-poster">
            <a class="spotlight" [href]="posterHref">
              <img appDefaultImage class="rounded-lg" loading="lazy" [src]="poster" [alt]="title" />
            </a>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-8">
          <div class="text-white hero-content">
            <div class="mb-4 mt-4 mt-sm-0">
              <h1>
                {{ title }} <span class="hero-subtitle">{{ subtitle }}</span>
              </h1>
            </div>
            <ng-content></ng-content>
            <div class="mb-4">
              <h4 class="mb-3">{{ descriptionLabel }}</h4>
              <p class="hero-description">
                <app-read-more [text]="description"></app-read-more>
              </p>
            </div>
            <div *ngIf="displayCallToAction && callToActionTitle && callToActionIcon">
              <button class="btn btn-outline-light" (click)="callToActionClicked.emit()">
                <i [class]="'fas fa-' + callToActionIcon + ' mr-2'"></i>{{ callToActionTitle }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
