@import './../../../../scss/abstracts';

.hero {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  .hero-filter {
    display: block;
    background: $color-black-transparent;
  }

  .hero-poster {
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .hero-subtitle,
  .hero-description {
    font-weight: 300;
  }
}
