<ng-container *ngIf="tvShowDetail">
  <app-hero
    [poster]="tvShowDetail.poster_path | tmdbImage: 'w500'"
    [posterHref]="tvShowDetail.poster_path | tmdbImage: 'original'"
    [backdrop]="tvShowDetail.backdrop_path | tmdbImage: 'original'"
    [title]="tvShowDetail.name"
    [subtitle]="
      tvShowDetail.first_air_date
        ? '(' + (tvShowDetail.first_air_date | date: 'yyyy') + ')'
        : null
    "
    [description]="tvShowDetail.overview"
    descriptionLabel="Overview"
    callToActionTitle="Play Trailer"
    callToActionIcon="play"
    (callToActionClicked)="onCallToActionClicked()"
    [displayCallToAction]="hasVideo()"
  >
    <div class="mb-3">
      <app-hero-stats
        [date]="tvShowDetail.first_air_date"
        [genres]="tvShowDetail.genres"
        [runtime]="
          tvShowDetail.episode_run_time &&
          tvShowDetail.episode_run_time.length > 0 &&
          tvShowDetail.episode_run_time[0]
        "
      ></app-hero-stats>
    </div>
    <div class="mb-4">
      <app-rating
        [rate]="tvShowDetail.vote_average"
        [votes]="tvShowDetail.vote_count"
      ></app-rating>
    </div>
  </app-hero>
  <div class="container mb-5">
    <tabset #staticTabs [justified]="true">
      <tab id="overview" heading="Overview">
        <ng-container
          *ngIf="
            tvShowDetail.credits.cast && tvShowDetail.credits.cast.length > 0
          "
        >
          <section class="mt-5 mb-5">
            <app-section-title>Cast</app-section-title>
            <app-cast-list [casts]="tvShowDetail.credits.cast"></app-cast-list>
          </section>
        </ng-container>
        <ng-container
          *ngIf="
            tvShowDetail.credits.crew && tvShowDetail.credits.crew.length > 0
          "
        >
          <hr />
          <section class="mt-5 mb-5">
            <app-section-title>Crew</app-section-title>
            <app-crew-list [crews]="tvShowDetail.credits.crew"></app-crew-list>
          </section>
        </ng-container>
        <ng-container *ngIf="similarTvShows && similarTvShows.length > 0">
          <hr />
          <section class="mt-5 mb-5">
            <app-section-title>Similar TV Shows</app-section-title>
            <app-tv-show-list [tvShows]="similarTvShows"></app-tv-show-list>
          </section>
        </ng-container>
      </tab>
      <ng-container
        *ngIf="tvShowDetail.seasons && tvShowDetail.seasons.length > 0"
      >
        <tab
          id="episodes"
          heading="Episodes"
          (deselect)="onSeasonsTabDeselect()"
        >
          <section class="mt-5 mb-5">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <select
                    class="form-control"
                    id="season"
                    aria-label="Select Season"
                    [(ngModel)]="seasonId"
                    (change)="onSeasonSelect()"
                  >
                    <option value="" selected disabled>Select Season</option>
                    <option
                      [value]="season.id"
                      *ngFor="
                        let season of tvShowDetail.seasons;
                        trackBy: trackBySeason
                      "
                    >
                      {{ season.name }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <router-outlet></router-outlet>
          </section>
        </tab>
      </ng-container>
      <ng-container
        *ngIf="
          tvShowDetail.images.posters && tvShowDetail.images.posters.length > 0
        "
      >
        <tab id="posters" heading="Posters">
          <section class="mt-5 mb-5">
            <app-image-list
              [images]="tvShowDetail.images.posters"
            ></app-image-list>
          </section>
        </tab>
      </ng-container>
      <ng-container
        *ngIf="
          tvShowDetail.images.backdrops &&
          tvShowDetail.images.backdrops.length > 0
        "
      >
        <tab id="backdrops" heading="Backdrops">
          <section class="mt-5 mb-5">
            <app-image-list
              [images]="tvShowDetail.images.backdrops"
            ></app-image-list>
          </section>
        </tab>
      </ng-container>
      <ng-container
        *ngIf="
          tvShowDetail.videos.results && tvShowDetail.videos.results.length > 0
        "
      >
        <tab id="videos" heading="Videos">
          <section class="mt-5 mb-5">
            <app-video-list
              [videos]="tvShowDetail.videos.results"
            ></app-video-list>
          </section>
        </tab>
      </ng-container>
    </tabset>
  </div>
</ng-container>
