<ng-container>
  <app-container>
    <div class="mb-5">
      <app-trend-carousel-list [trends]="weekAll$ | async"></app-trend-carousel-list>
    </div>
    <div class="mb-5">
      <app-trend-day-week-list
        title="Trending Movies"
        [dayTrends]="dayMovies$ | async"
        [weekTrends]="weekMovies$ | async"
      ></app-trend-day-week-list>
    </div>
    <div class="mb-5">
      <app-trend-day-week-list
        title="Trending TV Shows"
        [dayTrends]="dayTvShows$ | async"
        [weekTrends]="weekTvShows$ | async"
      ></app-trend-day-week-list>
    </div>
    <div>
      <app-trend-day-week-list
        title="Trending People"
        [dayTrends]="dayPeople$ | async"
        [weekTrends]="weekPeople$ | async"
      ></app-trend-day-week-list>
    </div>
  </app-container>
</ng-container>
