<ng-container>
  <app-container>
    <div class="mb-5">
      <ng-container *ngIf="weekAll$ | async as weekAll">
        <ngx-glide [showBullets]="false" [autoplay]="3000" [showArrows]="true" arrowLeftLabel="&lsaquo;" arrowRightLabel="&rsaquo;">
          <div class="glide-item rounded-lg" *ngFor="let t of weekAll">
            <div class="glide-background-img" [style.background-image]="'url(' + (t.backdrop_path | tmdbImage: 'original') + ')'">
              <div class="glide-background-filter">
                <div class="glide-content cursor-pointer">
                  <h3>{{ t.title || t.name }}</h3>
                  <p>{{ t.release_date || t.first_air_date | date }}</p>
                </div>
              </div>
            </div>
          </div>
        </ngx-glide>
      </ng-container>
    </div>

    <div class="mb-5">
      <app-section-title>Trend Movies</app-section-title>
      <tabset type="pills">
        <ng-container *ngIf="dayMovies$ | async as dayMovies">
          <tab heading="Today">
            <app-trend-list [trends]="dayMovies"></app-trend-list>
          </tab>
        </ng-container>
        <ng-container *ngIf="weekMovies$ | async as weekMovies">
          <tab heading="This Week">
            <app-trend-list [trends]="weekMovies"></app-trend-list>
          </tab>
        </ng-container>
      </tabset>
    </div>
    <div class="mb-5">
      <app-section-title>Trend TV Shows</app-section-title>
      <tabset type="pills">
        <ng-container *ngIf="dayTvShows$ | async as dayTvShows">
          <tab heading="Today">
            <app-trend-list [trends]="dayTvShows"></app-trend-list>
          </tab>
        </ng-container>
        <ng-container *ngIf="weekTvShows$ | async as weekTvShows">
          <tab heading="This Week">
            <app-trend-list [trends]="weekTvShows"></app-trend-list>
          </tab>
        </ng-container>
      </tabset>
    </div>
    <div>
      <app-section-title>Trend People</app-section-title>
      <tabset type="pills">
        <tab heading="Today">
          <ng-container *ngIf="dayPeople$ | async as dayPeople">
            <app-trend-list [trends]="dayPeople"></app-trend-list>
          </ng-container>
        </tab>
        <tab heading="This Week">
          <ng-container *ngIf="weekPeople$ | async as weekPeople">
            <app-trend-list [trends]="weekPeople"></app-trend-list>
          </ng-container>
        </tab>
      </tabset>
    </div>
  </app-container>
</ng-container>
